{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cart{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Order id: {{ cart["id"] }}</p>
    <table style="width: 50%;">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price (sek)</th>
        </tr>
        {% for row in cart["rows"] %}
            <tr>
                <td>{{ row["name"] }}</td>
                <td style="text-align: center;">{{ row["numOrdered"] }}</td>
                <td style="text-align: center;">{{ row["price"] * row["numOrdered"] }}</td>
                <td style="text-align: center;">
                    <form action="/remove_from_cart/" method="post">
                        <input type="hidden" name="id" value="{{ row['id'] }}">
                        <input type="hidden" name="qty" value="1">
                        <button type="submit">-</button>
                    </form>
                </td>
                <td style="text-align: center;">
                    <form action="/remove_from_cart/" method="post">
                        <input type="hidden" name="id" value="{{ row['id'] }}">
                        <input type="hidden" name="qty" value="{{ row['numOrdered'] }}">
                        <button type="submit">Remove All</button>
                    </form>
                </td>
                <td style="text-align: center;">
                    <form action="/add_to_cart/" method="post">
                        <input type="hidden" name="id" value="{{ row['id'] }}">
                        <input type="hidden" name="qty" value="1">
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>Total price: {{ cart["totalPrice"] }}</p>
    <form action="/checkout/" method="post">
        <button type="submit">Buy!</button>
    </form>
    <br />
    <br />
    <a href="{{ url_for('index') }}">Return</a>
{% endblock %}
