{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Hello World!</p>
  <form action="/add_to_cart/" method="post">
    <input type="hidden" name="id" value="{{30}}">
    <input type="number" name="qty" value="1" min="1" required>
    <button type="submit">Buy!</button>
  </form>
  <ul>
  {% for product in g.products %}
    <li>{{product['name']}}, {{product['price']}}kr, {{product['category']}}</li>
  {% endfor %}
</ul>
{% endblock %}
