{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Hello World!</p>
  <form action="/add_to_cart/" method="post">
    <input type="hidden" name="id" value="{{30}}">
    <input type="number" name="qty" value="1" min="1" required>
    <button type="submit">Buy!</button>
  </form>
  <ul>

  {% for j in range(25) %}
    <li>{{g.products[j]['name']}}, {{g.products[j]['price']}}kr, {{g.products[j]['category']}}, {% for i in range(g.prodpicscount[j]) %} <img src="static/media/{{g.products[j]['id']}}_{{i}}.jpg"/> {% endfor %}</li>
  {% endfor %}
</ul>
{% endblock %}
