{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add product{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="name">Name*</label>
    <input type="text" name="name" id="name" required>
    <br />
    <label for="price">Price*</label>
    <input type="number" name="price" id="price" step="0.01" min="0" required>
    <br />
    <label for="media">Upload product media</label>
    <input type="file" name="media" id="media" accept="image/*" multiple>
    <br />
    <label for="category">Category</label>
    <input type="text" name="category" id="category">
    <br />
    <input type="submit" value="Add">
  </form>
  <p>* - Required fields.</p>
  <br />
  <a href="{{ url_for('index') }}">Return</a>
{% endblock %}